@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Noto Serif', sans-serif;    
    font-size: 108%;
    background-color: #f5f5dc;
}

/* Configuração da Navbar */
.navbar {
    
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: rgb(132, 204, 132);
    border-radius: 50px;
    
}
.navbar nav {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    background-color: rgb(132, 204, 132);  
}
.btn {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.616);
    transform: scale(1.15);
}

.nav-container {
    width: 100%;
    background-color: rgb(132, 204, 132);
    padding: 5px 10px;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    margin: 10px auto; 
}

/* Configuração da Imagem */

.imagem-container {
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

/* Configuração do Texto */
.text-container {
    background-color: rgb(132, 204, 132);
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    max-width: 750px;
    color: black;
    margin: 20px auto;
    position: absolute; bottom: 200px; right: 100px; left: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.text-container h1, p{
    background-color: rgb(132, 204, 132);
}
