@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Noto Serif', sans-serif;    
    font-size: 108%;
    background-color: #f5f5dc;
}

/* Configuração da Navbar */
.navbar {
    
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: rgb(132, 204, 132);
    border-radius: 50px;
    
}
.navbar nav {
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    background-color: rgb(132, 204, 132);  
}
.btn {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 0.616);
    transform: scale(1.15);
}

.nav-container {
    width: 100%;
    background-color: rgb(132, 204, 132);
    padding: 5px 10px;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    margin: 10px auto; 
}

/* Configuração Formulario */

.form-container {
    background-color: rgb(132, 204, 132);
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    max-width: 750px;
    max-height: 500px;
    color: black;
    margin: 20px auto;
    position: absolute; bottom: 210px; right: 100px; left: 100px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
}
.form-container h1, form, label{
    background-color: rgb(132, 204, 132);
}
label , button{
    display: block;
}

.image-container {
    width: 300px;
    border-radius: 50%;
    position: absolute; bottom: 150px; right: 100px; left: 375px;
}
